<div class="flex justify-content-between align-items-center mb-3">
  <h5>Liste des demandes de tirages</h5>
  <div *ngIf="checkIfEnseignant()">
    <button pButton type="button" label="Nouveau" (click)="navigate()"></button>
  </div>
</div>
<p-table class="pt-6" [value]="listtTirage" [loading]="loading" [lazy]="true" selectionMode="single" [scrollable]="true"
         scrollHeight="300px" [resizableColumns]="true"
         styleClass="p-datatable-gridlines">
  <ng-template pTemplate="header">
    <tr>
      <th pResizableColumn>#Numero</th>

      <th pResizableColumn>Enseignant </th>
      <th pResizableColumn>Status </th>
      <th pResizableColumn>AgentTirage </th>
      <th pResizableColumn>Matiere</th>
      <th pResizableColumn *ngIf="!checkAgent()">Action</th>


    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-tirage>
    <tr  (dblclick)="details(tirage.id)" style="cursor: pointer">
      <td>{{tirage.id}}</td>

      <td>{{tirage.enseignantDto.nom}} {{tirage.enseignantDto.prenom}}</td>
      <td>{{tirage.status}}</td>
      <td>{{tirage.agentDto.nom}} {{tirage.agentDto.nom}}</td>
      <td>{{tirage.matiereDto.nom}}</td>

      <td *ngIf="!checkAgent()" class="flex align-items-center justify-content-center">
        <button (click)="delete(tirage.id)" class="p-button-rounded p-button-danger p-button-text" icon="pi pi-trash" pButton pRipple
                type="button"></button>
      </td>

    </tr>
  </ng-template>

</p-table>
<br>
<p-paginator  [rows]="5" [totalRecords]="totalElements" [showPageLinks]="true" [showJumpToPageDropdown]="true"
              (onPageChange)="paginate($event)" [rowsPerPageOptions]="[5,10,15,20,25,30]"></p-paginator>
