<p-messages></p-messages>
<h5>Detail du matière</h5>
<form (ngSubmit)="submit()" [formGroup]="editMatiereForm">
  <div class="grid">


    <div class="p-field col-12 lg:col-6 xl:col-6 ">
      <label class="mb-2" for="nom" style="display: block">Numero du matière </label>

      <input formControlName="id" [(ngModel)]="matiere.id"  class="w-full" id="id" pInputText placeholder="Nom du classe" type="text" [ngClass]="{ 'ng-invalid ng-dirty': validation.inputError(responseMessage.validations, 'id').length != 0}"/>
      <small *ngFor="let error of validation.inputError(responseMessage.validations, 'id')" class="p-error block"
             id="id-error">
        {{error.errorMessage}}
      </small>

    </div>
  </div>
  <div class="grid">
    <div class="p-field col-12 lg:col-6 xl:col-6 ">
      <label class="mb-2" for="nom" style="display: block">Nom du matière</label>

      <input formControlName="nom" [(ngModel)]="matiere.nom" class="w-full" id="nom" pInputText placeholder="Nom du classe" type="text" [ngClass]="{ 'ng-invalid ng-dirty': validation.inputError(responseMessage.validations, 'nom').length != 0}" />
      <small *ngFor="let error of validation.inputError(responseMessage.validations, 'nom')" class="p-error block"
             id="nom-error">
        {{error.errorMessage}}
      </small>
    </div>
    <div class="p-field col-12 lg:col-6 xl:col-6 ">
      <label class="mb-2" for="classes" style="display: block">Choisir le enseignant</label>
      <p-dropdown id="classes" formControlName="enseignant" [options]="listEnseignant" [(ngModel)]="matiere.enseignantDto" placeholder="Choisir les classes" optionLabel="nom" [showClear]="true"></p-dropdown>
    </div>
  </div>
  <div class="grid mt-3">
    <div class=" col-12  md:col-3 lg:col-2 col-offset-0 md:col-offset-9 lg:col-offset-10 lg:px-2">
      <button class="w-full" label="Modifier" [disabled]="loading" pButton></button>
    </div>
  </div>
</form>

<p-tabView (onChange)="handelTabViewChange($event)">
  <p-tabPanel  header="Les classes affecter dans cette matieres" >
    <app-liste-classe [matiereId]="matiereId" [index]="index"></app-liste-classe>
  </p-tabPanel>
  <p-tabPanel *ngIf="displayIfAdmin()"  header="Affecter matière" >
    <app-affect-classe [matiereId]="matiereId" [index]="index"></app-affect-classe>
  </p-tabPanel>


</p-tabView>
