<form (ngSubmit)="submit()" [formGroup]="affectClasseForm">
  <div class="grid">
    <div class="p-field col-12 ">
      <label class="mb-2" for="classes" style="display: block">Choisir les classes</label>
      <p-multiSelect formControlName="classes" id="classes" [(ngModel)]="affectedClasse" [options]="listClasse" defaultLabel="Choisir les classes" optionLabel="nom" display="chip"></p-multiSelect>
    </div>
  </div>
  <div class="grid mt-3">
    <div class=" col-12  md:col-3 lg:col-2 col-offset-0 md:col-offset-9 lg:col-offset-10 lg:px-2">
      <button class="w-full" label="Affecter" [disabled]="loading" pButton></button>
    </div>
  </div>
</form>


