@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

$danger-color: #e24c4c !important;
$primary-color: #354577;
$primary-color-rgba: rgba(#354577, 0.2);
$primary-color-rgba-button: rgba(#354577, 0.90);
$font-family: 'Rubik', sans-serif;
$borderRadius: 12px;
$transitionDuration: .2s;

